<div class="card m-3">
    <div class="card-body bg-light">
        <p class="card-text">cote : {{ document.cote }} {{get_class(document)}}</p>
        <class class="row">
            {% if get_class(document) == 'App\Entity\Book' %}
                {% include 'cards/_book.html.twig' with {book: book} only %}
            {% endif %}
        </class>
    </div>
</div>