<class class="col-md-9">
    <h4 class="card-title">{{ document.title }}</h4>
    <p class="card-text fw-bold text-muted">date de sortie : {{ document.releaseDate|date("d/m/Y")}}<span class="text-dark text-uppercase"></span> </p>
</class>