  {% for document in pager %}
        <a class="text-decoration-none" href="{{ path('show_document', {'id': document.id}) }}">
            {% include 'document/reference/_card.html.twig' with {document: document} only %}
        </a>
    {% endfor %}

