<class class="col-md-9">
    <h4 class="">{{ document.title|upper }}</h4>
    <p class="fw-bold text-muted">date de sortie : {{ document.releaseDate|date("d/m/Y")}}<span class="text-dark text-uppercase"></span> </p>
</class>